.App {
  
  width: 50%;
  text-align: center;
}
input{
  width: 50%;
  border: none;
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
}

.add-btn{
  margin-left: 10px;
  width: 15%;
}
.delete-btn {
  border: none;
  border-radius: 5px;
  float: right;
  background-color: white;
}
ul{
  list-style: none;
}
li{
  border: none;
  border-bottom: 1px solid blue;
  border-radius: 3px;
  padding: 4px;
  text-align: start;
  padding-left: 10px;
}